%h1 Listing parkinghouses
.row
  - @parkinghouses.each do |parkinghouse|
    %div{ :class => "col-md-4 col-sm-6 col-xs-12 text-center" }
      =link_to parkinghouse, :class => "thumbnail" do
        =image_tag parkinghouse.image.url(:main) if parkinghouse.image.exists?   
      %h4=parkinghouse.name
      %p=parkinghouse.address
      %p=parkinghouse.description
      - if can? :update, parkinghouse
        =link_to 'Edit', edit_parkinghouse_path(parkinghouse)
      - if can? :destroy, parkinghouse
        = link_to 'Destroy', parkinghouse, :method => :delete, :data => { :confirm => 'Are you sure?' } 
        
